# Configuración del Servidor
PORT=3000

# Base de Datos (Railway genera DATABASE_URL automáticamente al agregar PostgreSQL)
DATABASE_URL=postgresql://postgres:password@host:5432/railway
DB_TYPE=postgres

# Seguridad JWT
JWT_SECRET=lubripoint_super_secret_production_key_2026

# Almacenamiento en la Nube (Cloudinary)
CLOUDINARY_CLOUD_NAME=lubripoint
CLOUDINARY_API_KEY=123456789
CLOUDINARY_API_SECRET=secret_key
